<div class="jumbotron center">
<h1>PinTube Application</h1>
<p><%= link_to "Zaloguj się", "http://www.programatory.com", class: " btn btn-default btn-lg" %>
<%= link_to "Zapisz się", "http://www.programatory.pl", class: "btn btn-primary btn-lg" %></p>
</div>